---
layout: default
---
 

<!-- Section: about -->
    <section id="about" class="home-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          
            <div class="section-heading text-center">
            <div class="wow" data-wow-delay="0.2s">
              <h1>Masters of Flying Objects</h1>
                                                        <h2>The Carnegie Mellon University Juggling Club</h2>
            </div>
            </div>
          
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
        
          <img src="img/img1.jpg" class="img-responsive img-rounded" alt="" />
        </div>    
        <div class="col-md-6">
  {% capture something %}
  {% include home.md %}
  {% endcapture %}

  {{ something | markdownify }}
        </div>
      </div>    
    </div>
  </section>


<section id="map" class="home-section  bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h3>Campus Map</h3>

            <img src="img/map.jpg"  class="img-responsive img-rounded" alt="map" />
        </div>
      </div>
    </div>
  </section>




  <!-- Section: gallery -->
    <section id="gallery" class="home-section text-center">



    <div class="container">
      <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12" >
          <div class="wow bounceInUp" data-wow-delay="0.4s">
                    <div id="owl-works" class="owl-carousel">
{% for gal in site.data.gallery %}
<div class="item"><a href="photos/{{ gal.img }}.jpg" data-lightbox-gallery="gallery1"><img src="photos/thumbs/{{ gal.img }}-thumb.jpg" class="img-responsive" alt="img"></a></div> 
{% endfor %}

                    </div>
          </div>
                </div>
            </div>
    </div>
  </section>




 <section id="contact" class="home-section  bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          
            {% capture something %}
  {% include aboutus.md %}
  {% endcapture %}

  {{ something | markdownify }}
          
        </div>
        <div class="col-md-6">
        
          <img src="img/img3.jpg" class="img-responsive img-rounded" alt="" />
        </div>    
      </div>
    </div>
  </section>
