<!-- Preloader -->

  <!-- Section: intro -->
    <section id="intro" class="intro">

    <div class="slogan">
      <center>
        <a href="index.html"><img src="img/logo.png" class="img-responsive" alt="" /></a>
      </center>
    </div>

    </section>
  <!-- /Section: intro -->

    <!-- Navigation -->
    <div id="navigation">
      <nav class="navbar navbar-custom" role="navigation">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#about">Info</a></li>
                  <li><a href="#map">Map</a></li>
                  <li><a href="#gallery">Gallery</a></li>
                  <li><a href="#contact">About</a></li>
                </ul>
              <!-- /.Navbar-collapse -->
            </div>
          </div>
        </div>
        <!-- /.container -->
      </nav>
    </div>
    <!-- /Navigation -->
