<!-- Preloader -->

  <!-- Section: intro -->
    <section id="intro" class="intro">
  
    <div class="slogan">
      <a href="index.html"><img src="img/logo.png" alt="" /></a>
    </div>
    
    </section>
  <!-- /Section: intro -->
  
    <!-- Navigation -->
    <div id="navigation">
        <nav class="navbar navbar-custom" role="navigation">
                              <div class="container">
                                    <div class="row">
                                          <div class="col-md-12">
                         
                                          <!-- Brand and toggle get grouped for better mobile display -->
                                          <div class="navbar-header">
                                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                                                <i class="fa fa-bars"></i>
                                                </button>
                                          </div>
                                                      <!-- Collect the nav links, forms, and other content for toggling -->
                                                      <div class="collapse navbar-collapse" id="menu">
                                                            <ul class="nav navbar-nav">
                                                                  <li class="active"><a href="#about">Home</a></li>
                                                                  <li><a href="#map">Map</a></li>
                                      <li><a href="#gallery">Gallery</a></li>                                                                                                             
                                                                  <li><a href="#contact">About Us</a></li>
                                                            </ul>
                                                      </div>
                                                      <!-- /.Navbar-collapse -->
                             
                                          </div>
                                    </div>
                              </div>
                              <!-- /.container -->
                        </nav>
    </div> 
    <!-- /Navigation -->  
