<!DOCTYPE html>
<html>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="CMU Juggling Club">
    <meta name="keywords" content="cmu,carnegie mellon,juggling,club,pittsburgh,passing,masters of flying object,carnegie mellon university,juggle,club passing" />
    <meta name="description" content="Juggling Club `Masters of Flying Objects' of the Carnegie Mellon University in Pittsburgh. Meets twice a week, newcomers welcome.">

<title>Masters of Flying Objects - The Carnegie Mellon University Juggling Club</title>

    <!-- CSS -->
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
      <link href="{{ site.baseurl }}/css/nivo-lightbox.css" rel="stylesheet" />
  <link href="{{ site.baseurl }}/css/nivo-lightbox-theme/default/default.css" rel="stylesheet" type="text/css" />
  <link href="{{ site.baseurl }}/css/owl.carousel.css" rel="stylesheet" media="screen" />
    <link href="{{ site.baseurl }}/css/owl.theme.css" rel="stylesheet" media="screen" /> 
  <link href="{{ site.baseurl }}/css/animate.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/color/default.css" rel="stylesheet">


  <body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    {% include header.html %}

        {{ content }} 

    {% include footer.html %}

  </body>

</html>
